@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
/* #00ABB3  #3C4048 #B2B2B2 #EAEAEA */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #18191c;
  padding: 0 120px;
  overflow-x: hidden;
}
/*! Nav */
nav {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #ff3cac;
  text-shadow: 2px 2px 30px #ff3caace;
  transition: all 0.3s;
}
nav button {
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  border-radius: 66px;
  color: #ffffff;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}
/*! Hero  */
.hero {
  height: 460px;
  margin-top: 115px;
  display: flex;
  justify-content: space-between;
}
.slogan {
  display: flex;
  width: 726px;
  height: 270px;
  flex-direction: column;
}
.slogan h1 {
  color: #ffffff;
  font-family: 'Inter';
  font-size: 94px;
  line-height: 90px;
  font-style: normal;
  font-weight: 800;
  font-size: 94px;
  line-height: 90px;
  letter-spacing: -2px;
}
.slogan h1 span {
  color: #00abb3;
}
.description {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 40px;
}
.description div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(112deg, #8d1cfe 30%, #0038ed 100%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 10px;
  transition: background 4s;
  cursor: pointer;
}
.description div:hover {
  background: linear-gradient(112deg, #0038ed 30%, #8d1cfe 100%);
  transition: all 0.4s;
}
.description div p {
  width: 99px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
}
.description p {
  width: 420px;
  color: #ffffff;
  transition: all 0.4s;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.images {
  width: 400px;
  height: 400px;
  margin-right: 40px;
}
.images img {
  width: 100%;
  height: 100%;
}
.datas {
  display: flex;
  gap: 20px;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 50px;
  text-align: center;
}
.heading {
  font-weight: 200;
}
.value {
  font-weight: 700;
  font-size: 20px;
}
/*! Main */
.brands {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}
.brands img {
  cursor: pointer;
}
.drops {
  color: #ffffff;
  font-family: 'inter';
  margin-top: 100px;
}
.drops h1 {
  font-size: 45px;
  line-height: 58px;
}
.category {
  display: flex;
  gap: 50px;
  margin-top: 40px;
  font-size: 20px;
}
.category li {
  background-color: rgb(66, 60, 60);
  border-radius: 60px;
  padding: 16px 32px;
  cursor: pointer;
}
.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 400px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 40px;
  color: #110929;
}
.card h2 {
  margin-top: 10px;
  font-size: 22px;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}
.eth {
  color: #8d1cfe;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.eth img {
  width: 20px;
  padding: 0;
}
.rank {
  font-size: 13px;
  color: gray;
}
.auction {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.time {
  background-color: rgb(226, 223, 223);
  border-radius: 30px;
  padding: 4px 8px;
  color: #0038ed;
}
.auction button {
  border: none;
  background-color: white;
  color: #0038ed;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  padding: 2px 5px;
}
.auction button:hover {
  background-color: rgb(238, 233, 233);
}
.dropsContainer {
  max-width: 1300px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.add {
  margin: 100px -140px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  width: 110vw;
  height: 150px;
  font-weight: 800;
  font-size: 136px;
  line-height: 146px;
  background-color: #00abb3;
  transform: rotate(-6deg);
  letter-spacing: 40px;
  color: #ffffff;
  text-shadow: 2px 0 20px rgba(255, 255, 255, 0.26);
  cursor: pointer;
}
.about {
  margin-top: 200px;
  color: #ffffff;
}
.about h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.about-cards {
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 100px;
  gap: 20px;
}
.about-card {
  width: 400px;
  margin-top: 30px;
  padding: 20px;
  background: #251163;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-card img {
  width: 40px;
}

.about-card h1 {
  font-size: 28px;
}
.about-card p {
  font-size: 20px;
  line-height: 28px;
}
/*! Footer */
footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding: 150px;
  gap: 90px;
}
